ESP32/SECRETS.h
# Ignore the uploads folder and everything inside it
GUI/uploads/

# Ignore compiled Python files (good practice)
GUI/__pycache__/
GUI/*.pyc
.vs/
GUI/logs/
GUI/.venv/
IMU_with_Madgwick/.vscode/