ESP32/SECRETS.h
# Ignore the uploads folder and everything inside it
App/uploads/

# Ignore compiled Python files (good practice)
App/__pycache__/
App/*.pyc
.vs/
App/logs/
App/.venv/
IMU_with_Madgwick/.vscode/
ESP32/.vscode/
.vscode/*
